<phpunit bootstrap="test/bootstrap.php">
    <testsuites>
        <testsuite name="Deployer Source">
            <directory>test/src/</directory>
        </testsuite>
        <testsuite name="Deployer Recipes">
            <directory>test/recipe/</directory>
        </testsuite>
    </testsuites>
</phpunit>